html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

header {
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  font-family: "Times New Roman";
}

h1 {
  padding-bottom: 10px;
}
/* This will add some color to the background of the web page */
.back {
  background-color: #ebebeb;
}


p {
  font-size: 18px;
}

hr {
  height: 2px;
  border: 2px dashed black;
}

div {
  background-color: grey;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  font-family: monospace;
}

a {
  text-decoration: none;
}

a:link { color: blue; }
a:visited { color: red; }
a:hover { color: green; }
a:active { color: purple; }
